.code-editor {
  overflow: hidden;

  height: 70vh;
  width: min(100% - 1rem, 800px);
  margin-inline: auto;

  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
